
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
  width: 60%;
  flex-direction: column;
  gap: 3em;
}
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 2em;
}
span{
  background-color: darkorchid;
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
}
input#search-bar {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 18px;
}
.output {
  max-width: 600px;
  border: solid grey 1px;
  border-radius: 5px;
  font-size: 18px;
  padding: 2em;
  margin-top: 1em;
}
.word{
  color: darkorchid;
}
.definition {
  margin-top: 1em;
}
.author {
  margin-top: 4em;
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorchid;
  color: #fff;
  border-radius: 10px;
  margin-top: 1.5em;
  padding: .7em;
}
.loading {
  display: none;
  max-width: 500px;
  margin: -180px;
}

@media(max-width: 423px) {
  .logo {
    font-size: 18px;
  }
}
@media(max-width: 654px) {
  .container {
    width: 90%;
  }
}